<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="flex-container">
    <div>
      <label>
        <span>
          First Name:
        </span>
        <input type="text" formControlName="firstName">
      </label>
    </div>
    <div>
      <label>
        <span>
          Last Name:
        </span>
        <input type="text" formControlName="lastName">
      </label>
    </div>
    <ng-container formGroupName="address">
      <h3>Adress</h3>
      <div>
        <label>
          <span>
            Street:
          </span>
          <input type="text" formControlName="street">
        </label>
      </div>
      <div>
        <label>
          <span>
            City:
          </span>
          <input type="text" formControlName="city">
        </label>
      </div>
      <div>
        <label>
          <span>
            State:
          </span>
          <input type="text" formControlName="state">
        </label>
      </div>
      <div>
        <label>
          <span>
            Zip Code:
          </span>
          <input type="text" formControlName="zip">
        </label>
      </div>
    </ng-container>
    <ng-container formArrayName="aliases">
      <h3>Aliases</h3>
      <div class="btn-area">
        <button (click)="addAlias()">Add Alias</button>
      </div>

      <div *ngFor="let alias of aliases.controls; let i=index">
        <!-- The repeated alias template -->
        <label>
          <span>
            Alias:
          </span>
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </ng-container>

  </div>

  <div class="btn-area">
    <p>
      <button (click)="updateProfile()">Update Profile</button>
    </p>
    <p>Form Status: {{ profileForm.status }}</p>
    <p>
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </p>
  </div>
</form>