/* You can add global styles to this file, and also import other style files */
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
label {
  font-weight: bold;
  color: #669;

  span {
      display: block;
  }
}
button {
  appearance: none;
  border: 0;
  padding: .5rem 1rem;
  background: #669;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;

  &:hover {
    cursor: pointer;
    background: #77c;
  }
}